<h1>Create your own!</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<h1> </h1>

<a href="http://localhost:3000/cocktails" class="btn btn-primary">BACK</a>
