<h1>Selected Cocktail </h1>

<div><%= @cocktail.name %></div>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
  <% end %>
</ul>

<h1>   </h1>
<%= link_to 'Back', cocktails_path %>

<%= link_to 'add dose', new_cocktail_dose_path(@cocktail) %>
